<table class='table table-hover' style='font-size: 0.9em;'>
  <tbody>
    <tr>
      <th style='width: 20%'>Operating system:</th>
      <td style='width: 30%'>{{:os}}</td>
      <th style='width: 20%'>Memory:</th>
      <td>{{:memory}} GB</td>
    </tr>
    <tr>
      <th>CPU:</th>
      <td>{{:cpu_name}}</td>
      <th>CPU Frequency:</th>
      <td>{{:cpu_frequency}}</td>
    </tr>
    <tr>
      <th>Threads:</th>
      <td colspan="3">
        <div class='input-group input-group-md' style="width:100%;">
          <input id='threads-input' type="number" min="1" max="{{:max_threads}}" value='{{:max_threads}}' class='form-control'></input>
          <span class='input-group-addon'>
            of {{:max_threads}}
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
