<table class='table table-hover'>
  <tbody>
    <tr>
      <td style='width: 15em'><h6>Operating system:</h6</td>
      <td><h6>{{:os}}</h6></td>
    </tr>
    <tr>
      <td><h6>Memory:</h6></td>
      <td><h6>{{:memory}} GB</h6></td>
    </tr>
    <tr>
      <td><h6>CPU:</h6></td>
      <td><h6>{{:cpu_name}}<h6></td>
    </tr>
    <tr>
      <td><h6>CPU Frequency:</h6></td>
      <td><h6>{{:cpu_frequency}}<h6></td>
    </tr>
    <tr>
      <td><h6>Threads:</h6></td>
      <td><h6>{{:max_threads}}</h6></td>
    </tr>
  </tbody>
</table>
