<table style="width:100%; position:absolute; right:15px;">
    <tr>
        <td align="right">
            <button class="btn btn-default  btn-sm" data-toggle="modal" data-target="#HelpInfo">
                &nbsp; Help &nbsp;
            </button>
            <div class="btn-group" role="group" aria-label="...">
                <button id="cancel-btn" class="btn btn-default btn-sm" data-dismiss="alert">
                    Cancel
                </button>
                <button id="run-btn" class="btn btn-success btn-sm">
                    &nbsp; <b>Run</b> &nbsp;
                </button>
            </div>
        </td>
    </tr>
</table>
