<div class="modal fade" id="HelpInfo" tabindex=-1 role="dialog" aria-labelledby="HelpInfoLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="HelpInfoHeader">No Help File Found</h4>
            </div>
            <div class="modal-body" id="HelpInfoBody" style='height: 450px; overflow: auto'></div>
            <div class="modal-footer" id="HelpInfoFooter"></div>
        </div>
    </div>
</div>
