<div class="panel panel-info">
    <div class="panel-heading" id="system-panel">
        <div role="button" data-toggle="collapse" data-parent="#system-panel-body" href="#system-panel-body" aria-expanded="true" aria-controls="system-panel-body" >
            <b>System</b>
        </div>
    </div>
    <div id="system-panel-body" class="panel-collapse collapse in" role="tabpanel" arialabelledby="system-panel"></div>
</div>

<div class="panel panel-info">
    <div class="panel-heading" id="project-panel">
        <div role="button" data-toggle="collapse" data-parent="#project-panel-body" href="#project-panel-body" aria-expanded="true" aria-controls="project-panel-body" >
            <b>Project</b>
        </div>
    </div>
    <div id="project-panel-body" class="panel-collapse collapse in" role="tabpanel" arialabelledby="project-panel"></div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading" role="tab" id="benchmark-panel">
        <div role="button" data-toggle="collapse" data-parent="#benchmark-panel-body" href="#benchmark-panel-body" aria-controls="benchmark-panel-body">
            <b>Configuration</b>
        </div>
    </div>
    <div id="benchmark-panel-body" style='margin-top: 10px' class="panel-collapse collapse in" role="tabpanel" arialabelledby="benchmark-panel"></div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <b>Results</b>
    </div>
    <input style="display:none;" id="save-results-filechooser" type="file" nwsaveas="result.json" accept='.json' />
    <input style="display:none;" id="save-website-filechooser" type="file" nwsaveas/>
    <div id="Result_panel_body" class="panel-body" style="padding:0; maring:0px;">
        <table id="result_table" class="table table-striped tabl-hover" style="box-shadow: 1px 5px 10px #888888; margin: 0px">
        </table>
    </div>
</div>
