<table style="width:100%;height:40px">
    <tr>
        <td width="33.3%" align="left" style="border-radius:5px">
            <button align="left" class="btn btn-sm btn-primary _btn-noborder" aria-label="remove" id="close-btn">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button align="left" class="btn btn-sm btn-primary _btn-noborder" aria-label="minus" id="minimize-btn">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
        </td>
        <td width="33.3%" align="center" style="border-radius:5px">
            <p align="center" style="color:white; margin:0"><b>{{:window_title}}</b></p>
        </td>
        <td width="33.3%" align="right" style="border-radius:5px">
            <button class="btn btn-sm btn-primary _btn-noborder" aria-label="cog" id="configure-btn" data-toggle="drop">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
</table>
