<table class='table table-hover' style='font-size: 0.9em;'>
    <tbody>
        <tr>
          <th style='width: 20%'>Title:</th>
          <td>
              <div class='input-group input-group-md'>
                  <input id='project-title' type='text' class='form-control' placeholder='e.g. seqan-2.1-gcc'value='{{:title}}'>

                  <span class='input-group-btn'>
                      <button id='project-title-save-btn' class='btn btn-default' data-toggle='tooltip' data-placement:'left' title='save'>
                          <span name='saved' class='glyphicon glyphicon-floppy-saved' aria-hidden='true' style='color:green'></span>
                      </button>
                  </span>
              </div>
          </td>
        </tr>
    </tbody>
</table>
